<div id='numericBoard' style="position:relative" data-bind='with:nb'>
	    <div class='editor' style='position: absolute; right: 4px; top: 0px;'>
			<p data-bind='text: currentEdit' style='background: white;' ></p>
			<p id='errorMessage' data-bind='text: errorMessage' style='background:#e76;'></p>
		</div>
		<div data-bind='foreach: nums'>
			<!--div data-bind='foreach: $data'-->
				<input type=button data-bind='value:$data, click:$root.nb.addNumber'/>
		</div>
		<div data-bind='foreach: opes'>
			<input type=button data-bind='value:$data, click:$root.nb.addOpe'/>
		</div>
		<div data-bind='foreach: litteral'>
			<input type=button data-bind='value:$data, click:$root.nb.addNumber'/>
		</div>
		<div class='command'>
			<input type='button' value='OK' data-bind='click:$root.nb.endEdit'/>
			<input type='button' value='KO' data-bind='click:$root.nb.cancelEdit'/>
			<input type='button' value='&#x232b;' data-bind='click: $root.nb.backEdit'/>
		</div>
</div>